body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #050099;
  padding: 30px;
  position: relative;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 960px;
  margin: 0 auto;
}

.logo img {
  max-width: 70px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
}

nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 130px; 
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block;
  margin-left: 10px;
}

nav ul li:first-child {
  margin-left: 0;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
  transition: background-color 0.3s, color 0.3s;
}

nav ul li a:hover {
  background-color: #fff;
  color: #050099;
}


.question-container {
  text-align: center;
  margin-top: 50px; 
}

.question {
  font-size: 24px;
  margin-bottom: 20px;
}

.answers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.answer {
  width: calc(20% - 5px);
  height: 100px;
  background-color: #050099;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.answer:hover {
  background-color: #c0c0c0;
}


input[type="text"] {
  width: 400px; 
  height: 60px; 
  font-size: 16px; 
  padding: 10px; 
}


button {
  width: 450px; 
  height: 82px; 
  font-size: 20px; 
  padding: 20px; 
}
#score {
  text-align: center; 
  font-size: 24px; 
  margin-top: 60px; 
}